.search-result-dropdown {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}

.search-result-item {
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.search-result-item:hover {
  background-color: #f1f3f5; /* Cinza bem clarinho no hover */
  cursor: pointer;
}

.search-result-dropdown::-webkit-scrollbar {
  width: 8px;
}

.search-result-dropdown::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.search-result-dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}
